<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook text-primary"></i>
      <i class="fa-brands fa-square-instagram text-danger"></i>
      <i class="fa-brands fa-square-linkedin text-primary"></i>
    </div>
    <div class="f-info-brand">&copy;Tripster Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/term">Term</a>
    </div>
  </div>
</footer>
